<!DOCTYPE html>
<html>
<head>
  <title>Регистрация</title>
</head>
<body>
<div>
  <form method="POST" action="/login">
    <fieldset>
      <legend>Авторизация</legend>
      <label for="username" >Username</label>
      <input type="text" id="username" name="username" placeholder="Username" required="" autofocus="">

      <label for="password" >Password</label>
      <input type="password" id="password" name="password"  placeholder="Password" required="">

      <div class="form-actions">
        <a href="/signup">Зарегистрироваться</a>
        <button type="submit">Войти</button>
      </div>
    </fieldset>
  </form>
</div>
</body>
</html>